{{ define "main" }}
<article class="markdown book-article home-article">
  <h1>{{ .Title }}</h1>
  
  {{ .Content }}
  
  <hr />
  
  <h2>Ultimi Segnali</h2>
  
  <div class="latest-posts">
    {{ $pages := where .Site.Pages "Section" "docs" }}
    {{ $pages := where $pages "Kind" "page" }}
    {{ $pages := where $pages "Draft" false }}
    {{ $totalPages := len $pages }}
    {{ range $index, $page := (first 5 ($pages.ByDate.Reverse)) }}
      <div class="post-entry">
        <h3 class="post-title">
          <a href="{{ $page.RelPermalink }}">#{{ printf "%04d" (sub $totalPages $index) }} - {{ $page.Title }}</a>
        </h3>
        <p class="post-date">{{ $page.Date.Format "2006-01-02" }}</p>
        <p class="post-summary">{{ (substr $page.Summary 0 140) | plainify }}...</p>
      </div>
    {{ end }}
  </div>
</article>
{{ end }}
